.disclaimer {
    padding-top: 25px ;
    padding-bottom: 25px;
}

.disclaimer h1 {
    font-size: 0.9rem;
    color: #999999;
}

.disclaimer p {
    font-size: 0.9rem;
    color: #595959;
}

.dark .disclaimer h1 {
    font-size: 0.9rem;
    color: #737373;
}

.dark .disclaimer p {
    font-size: 0.9rem;
    color: #808080;
}

.picture-credit {
    font-size: 0.5rem;
    color: #b2b2b2;
    margin-top: 1px;
    margin-bottom: 0;
}

.picture-credit p {
    margin-top: inherit;
    margin-bottom: -10px;
}

.picture-credit a {
    text-decoration: underline;
    color: #b2b2b2;
}

